{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Features Request {% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Features Request</h1>
        {% if features %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Title </th>
                  <th width="15%"> Description </th>
                  <th width="15%"> Client </th>
                  <th width="15%"> Client Priority </th>
                  <th width="15%"> Target Date </th>
                  <th width="15%"> Product Area </th>

                </tr>
              </thead>
              <tbody>
              {% for feature in features %}
                <tr>
                  <td> {{ feature.title }} </td>
                  <td> {{ feature.description }} </td>
                  <td> {{ feature.client.client.stringify(feature.client.client) }} </td>
                  <td> {{ feature.client.client_priority }} </td>
                  <td> {{ feature.target_date }} </td>
                  <td> {{ feature.product_area.stringify(feature.product_area) }} </td>

                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No features Request have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_feature') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add  feature Request
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}